body {
    background-color: #ffffcc; /* Light yellow background */
    color: #006600; /* Dark green text */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcc00; /* Yellow background */
    color: #006600; /* Dark green text */
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    background-color: #009900; /* Green background */
    color: #ffffff; /* White text */
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #ffffff; /* White text */
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    text-decoration: underline;
    color: #ffffcc;
}

section {
    padding: 30px;
    line-height: 1.6;
}

footer {
    background-color: #ffcc00; /* Yellow background */
    color: #006600; /* Dark green text */
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.gradina {
    background: linear-gradient(to right, #66ff00, #a80077); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 24px;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.container_poze {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.poza_porumb_1 {
    display: block;
    padding: inherit;
    margin: auto;
    max-height: 40vh;
    max-width: 40vh;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#poza_porumb_pixel {
    display: block;
    padding: inherit;
    margin: auto;
    max-height: 15vh;    
    max-width: 15vh;
    cursor: pointer;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
}

.text_descriere {
    color: #006600; /* Dark green text */
    background-color: #ffcc00; /* Yellow background */
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.frame {
    width: 30vh;
    height: 30vh;
    text-align: center;
    margin: auto;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.centered-thing {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
